<!DOCTYPE html>
<html>
    <head>
        <title>Aufgabe 4</title>
        <meta charset="UTF-8">
    </head>

    <style>
        h1{
            font-size:40px;
        }

        h2{
            font-size:15px;
            color:#898b8e;
        }

        li,h3{
            font-size:30px;
        }
    </style>

    <body>

        <div id="app">
            <h1>People of Vue</h1>

            <ul>
                <li v-for="(item, index) in items">
                    {{ item.name }}: {{item.votes}}
                    <button v-on:click="item.votes += 1">Vote</button>
                </li>
            </ul>

            <h2>press 'delete' to reset</h2>

            <h3>Our mayor is {{best}} ! </h3>
        </div>
            

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
        <script>
                var app = new Vue({
                    el: '#app',
                    data: {
                        items: [
                            { name: 'Mr. Black', votes: 0 },
                            { name: 'Mr. Pink', votes: 0 },
                            { name: 'Mr. White', votes: 0 },
                            { name: 'Mr. Brown', votes: 0 }
                        ]
                    },
                    computed: {
                        best: function() {
                            var bestvotes = 0;
                            var name = [];
                            var result = '';

                            for(var i in this.items){
                                if(this.items[i].votes > bestvotes){
                                    bestvotes = this.items[i].votes;
                                    name = [];
                                    name.push(this.items[i].name);
                                }
                                else if(this.items[i].votes == bestvotes){
                                    bestvotes = this.items[i].votes;
                                    name.push(this.items[i].name);
                                }
                            }
                            

                            for(var j in name){
                                if(j == 0) {
                                    result += name[j];
                                } else {
                                    result += ' & ' + name[j];
                                }
                            }
                            
                            return result;
                        }
                    }
                });
                </script>
    </body>    
</html>