<!DOCTYPE html>
<html>
    <head>
        <title>Aufgabe 2 - Version 1</title>
        <meta charset="UTF-8">
    </head>

    <style>
        h1{
            font-size:40px;
        }

        h2{
            font-size:20px;
        }
    </style>

    <body>
        <div id="app">
            <h1>Hello {{anrede}} {{name}}</h1>
        
            <h2>Enter your gender:</h2>
            <input id="NameField" v-model="geschlecht">

            <h2>Enter your name:</h2>
            <input id="NameField" v-model="name">
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
        <script>
                var app = new Vue({
                    el: '#app',
                    data: {
                        name: '',
                        geschlecht: ''
                    },
                    computed: {
                        anrede: function(){
                            if(this.geschlecht === 'female') {
                                return 'Miss';
                            } else if (this.geschlecht === 'male'){
                                return 'Mister';
                            } else {
                                return '';
                            }
                            
                        }
                    }
                });
                </script>
    </body>    
</html>