<!DOCTYPE html>
<html>
    <head>
        <title>Aufgabe 1</title>
        <meta charset="UTF-8">
    </head>

    <style>
        h1{
            font-size:40px;
        }

        h2{
            font-size:35px;
        }
    </style>

    <body>
        <div id="app">
            <h1>Hello Mr. {{name}}</h1>
        
            <!--Dies ist ein Kommentar-->
            <h2>Enter your name:</h2>
            <input id="NameField" v-model="name">
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
        <script>
                var app = new Vue({
                    el: '#app',
                    data: {
                        name: ''
                    }
                });
                </script>
    </body>    
</html>