<!DOCTYPE html>
<html>
    <head>
        <title>Aufgabe 4</title>
        <meta charset="UTF-8">
        <!-- Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>

    <!-- <style>
        h1{
            font-size:40px;
        }

        h2{
            font-size:15px;
            color:#898b8e;
        }

        li,h3{
            font-size:30px;
        }
    </style> -->

    <body>

        <div id="app">
            <h1>People of Gaul</h1>

            <ul>
                <li v-for="(item, index) in items">
                    {{ item.name }}: {{item.age}}
                </li>
            </ul>

            <h1>"Old" People of Gaul</h1>

            <ul>
                <li v-for="(item, index) in older">
                    {{ item.name }}: {{item.age}}
                </li>
            </ul>

            
        </div>
            

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
        <script>
                var app = new Vue({
                    el: '#app',
                    data: {
                        items: [
                            { name: 'Obelix', age: 31 },
                            { name: 'Asterix', age: 32 },
                            { name: 'Julius Caesar', age: 56 },
                            { name: 'Majestix', age: 64 },
                            { name: 'Hansl', age: 82 },
                            { name: 'Fisch', age: 65 }
                        ]
                    },
                    computed: {
                        older: function() {
                            
                            var older = [];

                            for(var i in this.items) {
                                if(this.items[i].age >= 65) {
                                    older.push(this.items[i]);
                                }
                            }
                            return older;
                        }
                    }
                });
                </script>
    </body>    
</html>