<!DOCTYPE html>
<html>
    <head>
        <title>Aufgabe 3</title>
        <meta charset="UTF-8">
    </head>

    <style>
        h1{
            font-size:40px;
        }

        li{
            font-size:25px;
        }
    </style>

    <body>
        <h1>This is me!</h1>

        <ul id="app">
            <li v-for="(item, index) in items">
              {{ index }} : {{ item.tag }} = {{item.value}}
            </li>
        </ul>
            

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
        <script>
                var app = new Vue({
                    el: '#app',
                    data: {
                        items: [
                            { tag: 'name', value: 'Tobias' },
                            { tag: 'height', value: '1.98m' },
                            { tag: 'weight', value: '80kg' },
                            { tag: 'eyeColor', value: 'n/a' },
                            { tag: 'favoriteFood', value: 'Pizza' }
                        ]
                    }
                });
                </script>
    </body>    
</html>